In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

# DATA PREPROCESSING

1. SURVEY THE DATASET

In [2]:
dataFrame = pd.read_csv('amazon.csv')

In [3]:
# Get the general information about the Amazon dataset.
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551585 entries, 0 to 551584
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _               551585 non-null  int64
 1   id              551585 non-null  int64
 2   id_by_category  551585 non-null  int64
 3   name            551585 non-null  object
 4   main_category   551585 non-null  object
 5   sub_category    551585 non-null  object
 6   image           551585 non-null  object
 7   link            551585 non-null  object
 8   ratings         375791 non-null  object
 9   no_of_ratings   375791 non-null  object
 10  discount_price  490422 non-null  object
 11  actual_price    533772 non-null  object
dtypes: int64(3), object(9)
memory usage: 50.5+ MB

In [4]:
# Get the size of original dataset.
dataFrame.shape

(551585, 12)

In [5]:
# Count the NaN or Null (non-numeric value):
dataFrame.isna().sum()

_                      0
id                     0
id_by_category         0
name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings           175794
no_of_ratings     175794
discount_price     61163
actual_price       17813
dtype: int64

In [6]:
# Remove all the NaN or Null value from the dataset.
dataFrame.dropna(axis=0,how="any",inplace=True)
dataFrame.isna().sum()

_                 0
id                0
id_by_category    0
name              0
main_category     0
sub_category      0
image             0
link              0
ratings           0
no_of_ratings     0
discount_price    0
actual_price      0
dtype: int64

In [7]:
# Get the size of dataset after removing NaN and Null values.
dataFrame.shape

(340680, 12)

In [8]:
# Check the data types of each attribute
dataFrame.dtypes

_                  int64
id                 int64
id_by_category     int64
name              object
main_category     object
sub_category      object
image             object
link              object
ratings           object
no_of_ratings     object
discount_price    object
actual_price      object
dtype: object

In [9]:
# Remove the redundant attributes in the dataset.
dataFrame.drop(dataFrame.columns[0:3], axis=1, inplace=True)
dataFrame.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

2. PROCESS THE NUMERIC DATA

In [11]:
# Transfer the actual price attribute from object to float.
dataFrame['actual_price'] = dataFrame['actual_price'].str.replace('₹','')
dataFrame['actual_price'] = dataFrame['actual_price'].str.replace(',','').astype('float64')

print(">>>>> Frequency of each value of column actual price: ")
dataFrame["actual_price"].value_counts()

>>>>> Frequency of each value of column actual price:

actual_price
999.0      34271
1999.0     18527
1499.0     13742
499.0      10135
1299.0     10027
           ...
14470.0        1
19180.0        1
10580.0        1
19033.0        1
32120.0        1
Name: count, Length: 9319, dtype: int64

In [12]:
# Transfer the discount price attribute from object to float.
dataFrame['discount_price'] = dataFrame['discount_price'].str.replace('₹','')
dataFrame['discount_price'] = dataFrame['discount_price'].str.replace(',','').astype('float64')

print(">>>>> Frequency of each value of column discount price: ")
dataFrame["discount_price"].value_counts()

>>>>> Frequency of each value of column discount price:

discount_price
499.00     13352
299.00     11361
399.00     10528
599.00      8468
699.00      6490
           ...
443.95         1
3082.26        1
1773.78        1
1267.68        1
651.01         1
Name: count, Length: 16706, dtype: int64

In [13]:
# Transfer the number of ratings attribute from object to float.
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace(',','')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Only 1 left in stock.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Only 2 left in stock.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('FREE Delivery by Amazon','0')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 2 to 3 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 3 to 5 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 4 to 5 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 5 to 6 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 6 to 7 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 7 to 8 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 8 to 9 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 11 to 12 days.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 2 to 3 weeks.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 3 to 4 weeks.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 4 to 5 weeks.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Usually dispatched in 1 to 2 months.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Only 3 left in stock.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Only 4 left in stock.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('Only 5 left in stock.','|')
dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].str.replace('This item will be released on August 14 2023.','|')

dataFrame = dataFrame.drop(dataFrame[dataFrame["no_of_ratings"] == "|"].index)

dataFrame['no_of_ratings'] = dataFrame['no_of_ratings'].astype('float64')

print(">>>>> Frequency of each value of column number of ratings: ")
dataFrame["no_of_ratings"].value_counts()

>>>>> Frequency of each value of column number of ratings:

no_of_ratings
1.0        35894
2.0        22492
3.0        16387
4.0        13090
5.0        10569
           ...
16465.0        1
16538.0        1
6681.0         1
3790.0         1
7141.0         1
Name: count, Length: 7771, dtype: int64

In [14]:
# Transfer the ratings attribute from object to float.
dataFrame['ratings'] = dataFrame['ratings'].str.replace('Get','|')
dataFrame['ratings'] = dataFrame['ratings'].str.replace('FREE','|')
dataFrame['ratings'] = dataFrame['ratings'].str.replace('₹99','|')
dataFrame['ratings'] = dataFrame['ratings'].str.replace('₹70','|')
dataFrame['ratings'] = dataFrame['ratings'].str.replace('₹2.99','|')
dataFrame['ratings'] = dataFrame['ratings'].str.replace('₹65','|')
dataFrame['ratings'] = dataFrame['ratings'].str.replace('₹100','|')

dataFrame = dataFrame.drop(dataFrame[dataFrame["ratings"] == "|"].index)

dataFrame['ratings'] = dataFrame['ratings'].astype('float64')

print(">>>>> Frequency of each value of column ratings: ")
dataFrame["ratings"].value_counts()

>>>>> Frequency of each value of column ratings:

ratings
4.0    33498
5.0    29163
3.9    25111
3.8    23533
4.1    22424
3.7    20695
4.2    19305
3.6    18263
3.5    16523
4.3    15229
3.4    12258
4.4    11606
3.0    10978
4.5    10322
3.3    10285
3.2     7658
1.0     7388
4.6     6717
3.1     6080
4.7     4312
2.9     3850
2.0     2883
2.8     2842
2.7     2364
2.5     2287
4.8     1934
2.6     1896
2.4     1157
2.3      904
2.2      696
2.1      584
1.5      473
4.9      443
1.9      328
1.8      289
1.7      214
1.4      197
1.6      162
1.3       85
1.2       26
1.1        1
Name: count, dtype: int64

In [15]:
# Review dataset after preprocessing.
dataFrame.head(10)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255.0,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948.0,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206.0,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69.0,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630.0,34490.0,67790.0
5,Voltas 1.4 Ton 3 Star Inverter Split AC(Copper...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41TuyxwZ9m...,https://www.amazon.in/Voltas-Adjustable-173V-V...,4.0,1666.0,31990.0,70990.0
6,Lloyd 1.0 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,1097.0,29999.0,49990.0
7,Lloyd 1.5 Ton 5 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31IXlxIPsO...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.3,1494.0,39990.0,67990.0
8,Carrier 1 Ton 3 Star AI Flexicool Inverter Spl...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51sTXvsanQ...,https://www.amazon.in/Carrier-Flexicool-Invert...,4.1,674.0,30990.0,58190.0
9,"Voltas 1.5 Ton, 5 Star, Inverter Split AC(Copp...",appliances,Air Conditioners,https://m.media-amazon.com/images/I/51WQ3nWF0v...,https://www.amazon.in/Voltas-Inverter-Split-Co...,4.0,801.0,37999.0,73990.0

In [16]:
# Export the dataser after cleaning the values.
# writer = pd.ExcelWriter(r"preprocessing_amazon.xlsx", engine='xlsxwriter', engine_kwargs={'options': {'strings_to_urls': False}})
# dataFrame.to_excel(writer, index=False)
# writer.close()